.chart {
  margin: 20px;
  padding: 20px;
  box-shadow: 9px 10px 16px -4px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 9px 10px 16px -4px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 9px 10px 16px -4px rgba(0, 0, 0, 0.66);
}
.chartTitle {
  margin-bottom: 20px;
}
